# Data Science Tools and Ecosystem

## Author
Thomas Base

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular data science languages
- List common data science development environment tools 
- List commonly used libraries in data science

Some of the popular languages that data scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Julia
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-Learn
5. PyTorch
6. TensorFlow

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335